.dark {
  --text: #fff;
  --background: #1b1b1b;
  --transparent-background: #1b1b1b5d;
  --primry-color: #3959fd;
  --inactive: #2a41b7;
  --secondry-color: #fdfb39;
  --red: #ff1567;
  --opacity: #fdfa39d8;
}

.light {
  --text: #1b1b1b;
  --background: #fff;
  --transparent-background:#ffffff5d;
  --primry-color: #3959fd;
  --inactive: #2a41b7;
  --secondry-color: #ff1567;
  --red: #ff1567;
  --opacity: #ff1567d9;
}

$text: var(--text);
$background: var(--background);
$transparent-background: var(--transparent-background);
$primry-color: var(--primry-color);
$inactive: var(--inactive);
$secondry-color: var(--secondry-color);
$red: var(--red);
$opacity: var(--opacity);
