@import './__variables';

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 30px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.endsIcon {
    width: 21px;
    cursor: pointer;
}

.dotsContainer {
    display: flex;
    gap: 10px
}

.dots,
.selectedDot {
    width: 5px;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
}

.dots {
    cursor: pointer;

    &:hover {
        transform: scaleY(3) skew(-30deg, 0deg);
    }
}

.selectedDot {
    cursor: default;
    background-color: $yellow;
    transform: scaleY(7) skew(-55deg, 0deg);
}