@import "./__variables";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  transition: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe{
  display: block;
  border: unset;
  border-radius: 0;
}

.dark,
.light {
  background-color: $background;
  color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loading-container{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  inset: 0;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;

  .start{
    width:30px;
    animation-name: toLeft;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
  }
  
  .end{
    svg{transform: rotate(180deg);}
    width: 30px;
    animation-name: toRight;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
  }
  
  .mid{
    width: 7px;
    height: 40px;
    transform: skewX(15deg);
    background: var(--secondry-color);
    margin: 0px 10px;
    animation-name: skew;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
  }
}

.contacts {
  position: fixed;
  top: 35px;
  right: 30px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.section {
  position: absolute;
  background: $background;
  height: 100dvh;
  width: 100%;
  z-index: 0;
}

.yellow-path {
  fill: $secondry-color;
}

.icons {
  width: 30px;
}

::-moz-selection {
  color: $background;
  background-color: $opacity;
}

::selection {
  color: $background;
  background-color: $opacity;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $secondry-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primry-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondry-color;
}

@keyframes toRight {
  0%{transform: translateX(0);}
  50%{transform: translateX(10px);}
  100%{transform: translateX(0);}
}

@keyframes toLeft {
  0%{transform: translateX(0);}
  50%{transform: translateX(-10px);}
  100%{transform: translateX(0);}
}

@keyframes skew {
  0%{transform: skewX(10deg);}
  50%{transform: skewX(-10deg);}
  100%{transform: skewX(10deg);}
}