@import './__variables';

html,
body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   max-width: 100vw;
   max-height: 100vh;
   overflow: hidden;
   transition: unset;
}

a {
   text-decoration: none;
   color: $primry-color;

   &:hover {
      text-decoration: underline;
   }
}

.dark,
.light {
   background-color: $background;
   color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 600;
}

p {
   margin: 0;
   padding: 0;
   font-weight: 400;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

.contacts {
   position: fixed;
   top: 35px;
   right: 30px;
   text-align: center;
   font-size: 0.8rem;
   font-weight: 600;
}

.section {
   background: $background;
}

.yellow-path {
   fill: $secondry-color;
}

.icons{
   width: 30px;
}

::-moz-selection {
   color: $background;
   background-color: $opacity;
}

::selection {
   color: $background;
   background-color: $opacity;
}

::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background-color: $secondry-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: $primry-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: $secondry-color;
}