@import './__variables';

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    @media screen and (max-width:870px) {
        width: 90%;
    }
}

.wrapper {
    width: 100%;

    @media screen and (max-width:426px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.heading {
    position: relative;
    font-size: 2rem;
    margin: 20px 0;

    @media screen and (max-width:1024px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width:426px) {
        margin: 20px 0 0 0;
    }
}

.details {
    margin: 40px 0px 40px 20px;
    font-size: 1.2rem;

    h2 {
        margin: 0px 0px 20px -20px;
    }

    @media screen and (max-width:1024px) {
        font-size: 1rem;
    }

    @media screen and (max-width:426px) {
        margin: 20px 0px 20px 00px;
    }
}

.shadowHeader {
    color: $black;
    -webkit-text-stroke: 1px $blue;
    -o-text-stroke: 1px $blue;
    -moz-text-stroke: 1px $blue;
}

.floatingHeader {
    position: absolute;
    top: -5px;
    left: 5px;

    color: $yellow;
}

.list {
    li {
        margin: 10px 0;
        list-style-type: square;

        @media screen and (max-width:426px) {
            list-style: none;
        }
    }
}

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 15px 20px;
    margin: 5px 0 0 0;
    color: $yellow;
    background-color: $blue;

    &:hover {
        .copy {
            left: 0;
            width: 100%;
        }
    }
}

.copy {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #fdfb39;
    transition: all 0.3s;
    overflow: hidden;
    color: #3959fd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    div {
        width: 20px;
        height: 20px;
        fill: $blue;

        min-width: 20px;
        min-height: 20px;
    }
}

.beating {
    animation-name: beat;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    margin-left: 15px;
}

@keyframes beat {
    0% {transform: scale(1);}
    45% {transform: scale(1);}
    50% {transform: scale(1.5);}
    55% {transform: scale(1);}
    60% {transform: scale(1.5);}
    65% {transform: scale(1);}
    100% {transform: scale(1);}
}