@import './__variables';

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    font-size: 3.8rem;

    @media only screen and (max-width: 970px) {
        font-size: 3rem;
    }

    @media only screen and (max-width: 769px) {
        font-size: 2rem;
    }
}

.textContainer {
    margin: 0 0 0 10%;

    @media only screen and (max-width: 769px) {
        text-align: center;
        margin: 0;
    }
}



.me {
    display: flex;
    gap: 10px;

    .value {
        color: $blue;
    }

    @media only screen and (max-width: 769px) {
        flex-direction: column;
        gap: 3px;
    }

    @media only screen and (max-width: 426px) {
        font-size: 1.5rem;
    }
}

.description {
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 1rem;
    width: 80%;

    @media only screen and (max-width: 769px) {
        margin: 20px auto;
    }
}