@import "./__variables";

.popup-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $transparent-background;
  position: fixed;
  inset: 0;
  z-index: 999;
}

.popup-content{
  position: relative;
  background-color: $text;
  width: 80%;
  max-width: 700px;
  height: 90vh;
  overflow: auto;
  animation-name: show-popup;
  animation-duration: 800ms;

  .img-container{
    position: absolute;
    top: 0;
    width: 100%;
  }

  img{
    object-fit: cover;
    height: auto !important;
    transition: opacity 300ms;
    position: relative !important;
    display: block;
  }

  .show{
    opacity: 1;
  }

  .hide{
    opacity: 0;
  }

  .close{
    cursor: pointer;
    position: sticky;
    z-index: 2;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    top: 10px;
    margin: 0px 10px 0px auto;
    animation-duration: 200ms;
    animation-name: show-content;
  }
}

@keyframes show-popup {
  0%{ height: 5px; width: 0}
  50%{ height: 5px; width: 80%;}
  60%{ height: 5px; width: 80%;}
  100%{ height: 90vh; width: 80%;}
}

@keyframes show-content {
  from{opacity: 0;}
  to{opacity: 1;}
}