@import "./__variables";

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: auto;

  @media screen and (max-width: 426px) {
    width: 90%;
  }
}

.projectsRoller {
  display: block;
  position: relative;

  @media screen and (max-width: 769px) {
    height: 530px;
  }
}

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 769px) {
    margin-top: -60px;
  }
}

.project {
  padding: 30px;
  background: $background;
  border: 1px solid $text;
}

.description {
  display: flex;
  gap: 20px;

  p {
    opacity: 0.6;
  }

  @media screen and (max-width: 769px) {
    flex-direction: column;
  }
}

.heading {
  color: $secondry-color;
  margin: 0 0 30px 0;
}

.supHeading {
  margin: 0 0 15px 0;
}

.topNavClickSpace,
.bottomNavClickSpace {
  //display: none;
  position: absolute;
  height: 40%;
  width: 100%;
  z-index: 1;
}

.bottomNavClickSpace {
  bottom: 0;
  cursor: url("../../public/arrow-down.svg"), auto;

  .arrow {
    margin: 180px auto 0 auto;

    @media screen and (max-width: 769px) {
      margin: 220px auto 0 auto;
    }

    @media screen and (max-width: 426px) {
      margin: 180px auto 0 auto;
    }
  }

  @media screen and (max-width: 426px) {
    bottom: -60px;
  }
}

.topNavClickSpace {
  top: 0;
  cursor: url("../../public/arrow-up.svg"), auto;

  .arrow {
    margin: 120px auto 0 auto;

    @media screen and (max-width: 769px) {
      margin: 20px auto 0 auto;
    }
  }

  @media screen and (max-width: 426px) {
    display: none;
  }
}

.project-indecator{
  position: fixed;
  top: 45%;
  right: 40px;
  z-index: 99;
}

.project-indecator .dots{
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  background-color: $secondry-color;
  transition: height 300ms, background-color 300ms;
}

.project-indecator .dots.active{
  height: 20px;
  background-color: $primry-color;
}