@import './__variables';

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 426px) {
        width: 90%;
    }
}

.projectsRoller {
    display: block;

    @media screen and (max-width: 769px) {
        height: 530px;
    }
}

.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rank1,
.rank2,
.rank3 {
    border: 1px solid white;
    padding: 30px;
    background: $black;
}

.rank1 {
    position: relative;
    z-index: 2;
    background: #1b1b1b;
    margin: -90px 0;
    max-height: 220px;
    transform: scale(1);
    opacity: 1;
    transition: all 1s;

    @media screen and (max-width: 769px) {
        max-height: 600px;
        margin: -150px 0;
    }

    @media screen and (max-width: 426px) {
        max-height: 600px;
        margin: -220px 0;
    }
}

.rank2 {
    margin: 0;
    max-height: 200px;
    transform: scale(0.5);
    opacity: 0.4;
    transition: all 1s;

    @media screen and (max-width: 769px) {
        max-height: 600px;

    }
}

.rank3 {
    margin: 0;
    transform: scale(0);
    opacity: 0;
    max-height: 0;
    border: 0px solid white;
    padding: 0;
    transition: all 0.6s;
}

.description {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 769px) {
        flex-direction: column;
    }
}

.heading {
    color: $yellow;
    margin: 0 0 30px 0;
}

.supHeading {
    margin: 0 0 15px 0;
}

.topNavClickSpace,
.bottomNavClickSpace {
    height: 150px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.bottomNavClickSpace {
    margin: -240px 0 0px 0;

    @media screen and (max-height:660px) {
        margin: -190px 0 0px 0;
    }
}

.topNavClickSpace {
    margin: 0 0 -240px 0;

    @media screen and (max-height:660px) {
        margin: 0 0 -190px 0;
    }
}