@import './__variables';

.warper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    min-height: 600px;
    margin: auto;

    @media screen and (max-width:965px) {
        width: 90%;
    }
}

.container {
    display: flex;
    gap: 5%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    margin: 0 0 80px 0;

    @media screen and (max-width:426px) {
        margin: 0 0 30px 0;
    }

}

.container::-webkit-scrollbar {
    display: none;
}


.skillSet {
    width: 46%;

    @media screen and (max-width:860px) {
        width: 96%;
    }
}

.secondrySkillSet {
    @media screen and (max-width:861px) {
        display: none;
    }
}

.skillNavButton {
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 9999px;
    margin: -16px auto 0 auto;
    background-color: #3959fd;
}

.arrowRight,
.arrowRightInactive {
    position: absolute;
    top: 5px;
    left: 50px;
    height: 0;
    width: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
}

.arrowRight {
    border-left: 10px solid white;
    cursor: pointer;

    &:hover {
        border-left: 10px solid $yellow;
    }
}

.arrowRightInactive {
    border-left: 10px solid $inactive-blue;
}

.arrowLeft,
.arrowLeftInactive {
    position: absolute;
    top: 5px;
    height: 0;
    width: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
}

.arrowLeft {
    border-right: 10px solid white;
    cursor: pointer;

    &:hover {
        border-right: 10px solid $yellow;
    }
}

.arrowLeftInactive {
    border-right: 10px solid $inactive-blue;
}